h1 {
  font-size: 24px;
}
body {
  background-color: white;
}

.header{
  background: brown url("bg.jpg") repeat-x  top;
  text-align: center;
  height: 500px;
  width: auto;
  border-top: 3px solid white;
  border-radius: 20px;
}
.header h1 {
  font-size: 72px;
  padding-top: 100px;
  font-family: Optima, Times, serif;
  font-weight:400;
  color: white;
}
.header h2 {
  font-size: 42px;
  padding-top: 20px;
  font-family: Optima, Times, serif;
  font-weight: lighter;
  color: white;
}
.tagline {
  margin-top: 15px;
}

.tagline h3 {
  font-family: Optima, Times, serif;
  font-size: 26px;
  font-weight: normal;
  background-image: url("bg.jpg");
  text-align: center;
  border-radius: 10px;
  color: white;
  margin-bottom: 5px;
}
.tagline p {
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  font-family: Optima, Times, serif;
  background-image: url("bg.jpg");
  border-radius: 10px;
  color: white;
  height: auto;
  margin-top: 3px;
  padding-top: 50px;
  padding-bottom: 50px
}


.skills h3{
  font-family: Optima, Times, serif;
  font-size: 26px;
  font-weight: normal;
  background-image: url("bg.jpg");
  text-align: center;
  border-radius: 10px;
  color: white;
  margin-bottom: 5px;
}

.skills li{
  list-style-type: none;
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
}

.contact {
  border-style:ridge;
  border-color: brown;
  font-family: Optima, Times, serif;
  font-size: 26px;
  font-weight: lighter;
  background-image: url("bg.jpg");
  text-align: center;
  border-radius: 10px;
  color: white;
  margin-bottom: 5px;
  padding-top: 5px;
}
.contact h3 {
  font-weight: lighter;
  font-size: 20;
}
.contact a:hover{
  color: yellow;
}
.contact img{
    max-width: 100%;
    max-height: 100%;
}
